* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Matemasie", sans-serif;
    font-weight: 600;
}


@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* fuente */
.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body{
    background-color: #222222;
    color: #f5eee6;
}


/* Efectos para el navbar */
.navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 0.6px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    /* para efecto blur con scroll */
    transition: backdrop-filter 0.3s; 
    backdrop-filter: blur(0px); /* Sin blur inicialmente */
    z-index: 1000; /* sobrepuesto en todo */
}

/* blur */
.navbar.scroll {
    backdrop-filter: blur(6px); /* Efecto de blur al hacer scroll */
}

/*alineado logo y nombre  */
.navbar-nombre {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.navbar-nombre a{
    text-decoration: none;
    color: #5545eb;
}

/* centrado para logo y nombre */
.navbar-nombre .nombreSD{
    margin-block: auto;
}

.navbar-nombre .nombreSD  .titleName{
    font-size: 22px;
}

.navbar-nombre .nombreSD .sloganName{
    font-size: 12px;
}

/* tamaño logo */
.navbar-nombre .logoEdd {
    height: 70px;
}

/* centrados en sus div */
.navbar-nombre,
.navbar-links{
    place-content: center;
} 

/* estilos links a */
.navbar-links a{
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    color: white;
    display: inline-block;
}

/* efecto de linea expande hacia los lados */
.navbar-links a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px; /* Grosor de la subrayado */
        background: rgb(255, 255, 255); /* Color de la subrayado */
        transform: translateX(-50%);
        transition: width 0.4s ease, left 0.4s ease;
}
/* el tamaño de la linea y movimiento */
.navbar-links a:hover::after {
    width: 80%;
    transform: translateX(-50%);
}


/* fondo principal */
.banner-inicial {
    background-image: url("../img/sky-night-star-cosmos-atmosphere-darkness-785598-pxhere.com.jpg");
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.2s ease;
    overflow: hidden;
    perspective: 1000px;
}

.frente {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 120vh;
    z-index: 5;
    transform: translate(0, 0) rotate(0deg);
    transition: transform 0.5s ease-out; /* Transición suave */
}

.medio {
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transform: translate(0, 0) rotate(0deg);
    transition: transform 0.5s ease-out; /* Transición suave */
}

/* estilo luna movimiento y posicion */
.luna {
    position: absolute;
    top: 100px;
    left: 700px;
    transform: translate(0, 0) rotate(0deg);
    transition: transform 0.5s ease-out; /* Transición suave */
}

/* titulo Bienvenido posicion */
.banner-inicial #bienvenida{
    position: absolute;
    left: 400px;
    top: 300px;
    font-size: 90px;
    color: white;
    z-index: 4;
    transform: translateY(0) rotate(0deg);
    transition: transform 1s ease-out;

}

/* estilo externo contenedor 2 colums */
.contenedorSobreMi {
    width: 100%;
    height: auto;
    padding: 50px 60px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

/* lado izq y visible */
.sobreMi {
    grid-column: 1/2;
    grid-row: 1/2;
    place-content: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
    font-size: 22px;
}

/* estilo posicion y visible */
.card {
    grid-column: 2/3;
    grid-row: 1/2;
    place-content: center;
    align-items: center;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
}

/* estilo mas info hidden inicialmente oculto */
.masSobreMi {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 40px 0;
    opacity: 0;
    transition: opacity 800ms ease;
    visibility: hidden;
}

.masSobreMi p{
    font-size: 22px;
}

/* estilo border tamaños */
.card .contenido {
    border: 1px solid rgba(236, 63, 241, 0.562);
    width: 350px;
    height: 400px;
    padding: 10px 20px;
    place-content: center;
    text-align: center;
    background-image: url("../img/nebula-deep-space-universe-cosmos-5k-3840x2160-8386.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
}

/* estilo avatar */
.card img{
    border-radius: 50%;
    width: 250px;
    margin-top: 15px;
}

/* estilo etiqueta p dentro botones tamaño y color */
.misH .verMas a,
.enlaces .verMas a,
.links .verMas a,
.proyectos .verMas a{
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.proyectos h1{
    font-size: 28px;
    margin-bottom: 15px;
}

/* sobreMi transicion */
.desvanecer {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
}

.aparecer {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}


/* Estilos Botones */
.misH .verMas,
.formulario .verMas,
.enlaces .verMas,
.masSobreMi .verMas,
.links .verMas,
.sobreMi .verMas,
.ocultoD .verMas,
.ocultoD2 .verMas {
    
    font-size: 20px;
    background: rgba(255, 255, 255, 0.082);
    color: white;
    border: 1px ridge white;
    font-weight: 400;
    padding: 10px 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);

}

/* Propiedad Para desplazar linealmente*/
.links a span,
.verMas span {
    display: inline-block;
}

/* relaciono animacion de movimeinto infinito lineal */
.links a:hover span,
.verMas:hover span {
    animation: scroll-text 2s linear infinite;
}

/* animacion inicialmente a la izd se traslada 100% hasta llegar al extremo opuesto */
@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%); 
    }
}


/* estilos titulos contenedor */
.tituloContactame,
.tituloHabilidades,
.tituloSobreMi,
.tituloProyecto {
    width: 100%;
    height: 80px;
    background-color: #9b9a9a1c;
    box-shadow: 1px 0 10px #f5eee6;
    place-content: center;
    text-align: center;
    font-size: 34px;
    overflow: hidden;
    
}

.tituloContactame p span,
.tituloHabilidades p span,
.tituloProyecto p span,
.tituloSobreMi p span{
    transition: 1.5s;
    cursor: pointer;
}



/* estilos contenedor de proyectos filas y columnas */
.proyectos{
    position: relative;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding: 40px 40px;
}

/* imagen de proyecto tamaño redondes  */
.proyectos img{
    height: 300px;
    width: 550px;
    border-radius: 15px;
    transition: rotate 700ms ease;
    object-fit: cover;
}

/* posicion a los proyectos dentro de mi grid */
.proyectoI {
    grid-row: 1/1;
    grid-column: 1/2;
}

.proyectoD {
    grid-row: 2/3;
    grid-column: 2/3;
}

.proyectoI2 {
    grid-row: 3/4;
    grid-column: 1/2;
}

/* capa de transparencia fija del tamaño de la imagen */
.proyectos .capa {
    width: 97%;
    height: 94%;
    background-color: rgba(19, 19, 19, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 500ms ease-in;
}

/* capa donde se establecen los botones de progreso */
.contenedorP { 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
    transition: transform 1s ease, translate 700ms ease-in-out;
    transform: translateY(70px);
}

/* base boton progreso tamaño redondes */
.contenedorP .circulo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* se establece un borde interno  */
.contenedorP .circulo::before {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #222;
    opacity: 0.5;
    z-index: 0;
}

/* se establecen 3 sombras internas  */
.contenedorP .circulo::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    border: 15px solid #4d4c51;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.75),
    0 -2px 2px rgba(255, 255, 255, 0.5),
    inset 0 4px 2px rgba(0,0,0,0.25),
    inset 0 -2px 2px rgba(255,255,255,0.5);
    z-index: 0;
} 

/* estilos del numero */
.contenedorP .circulo .number {
    position: relative;
    color: #fff;
    z-index: 2;
    line-height: 1em;
    font-size: 1.5em;
}

/* se estable tamaño para el % */
.contenedorP .circulo .number span {
    font-size: 0.5em;
}

/* se establece tamaño nombre html css js */
.contenedorP .circulo h4 {
    position: relative;
    color: #fff;
    z-index: 10;
    line-height: 1em;
    font-size: 0.5em;
}


/* 
animacion llamada show
cuando se inicia las imagenes son opacas y pequeñas
y acuando llegan al viewport claras y tamaño normal */
@keyframes show{
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.proyectos .pro{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
/* estilizamos que se muestre la animacion al 25 apenas se muestre en pantalla
y al 30 se vera completa, y con animation-fiil-mode se ve de igual manera 
para arriba que para abajo, de esta manera se quita un bug de salto imagen */
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

/* estilos para los textos descriptivos de las imagenes */
.ocultoD,
.ocultoI,
.ocultoD2 {
    align-self: center;
    font-size: 20px;
    color: #f5eee6;
}

/* alineacion derecha el texto */
.ocultoI {
    text-align: right;
}

/* estilos botones proyectos lado izquierdo */
.ocultoI .verMas{
    font-size: 22px;
    background: rgba(255, 255, 255, 0.082);
    color: white;
    border: 1px ridge white;
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    margin-top: 20px;
    padding: 10px 30px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.253);

}


/* adaptando a imagne seguido de su descripcion */
@media (width < 800px){
        
    .proyectos{
        display: flex;
        flex-wrap: wrap;
    }
    .ocultoI {
        text-align: left;
    }

    .contenedorSobreMi{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .sobreMi{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .masSobreMi{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .contenedorHabilidades {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

}

/* se establecen dos columnas  */
.contenedorHabilidades{
    display: grid;
    grid-template-columns: 45% 45%;
    font-size: 24px;
    justify-content: space-evenly;
    margin-block: 50px;
}

/* estilos contenedor barras progreso */
.metricas{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #333;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 20px #fff;
    width: 90%;
    align-items: center;
    position: relative;
}

/* ajustado a la izquierda */
.misH {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: auto;
    align-items: center;
    margin-left: 30px;
    font-size: 22px;
}

/* se muestran en columna y visible inicialmente */
.metricas .habilidades {
    padding-top: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    padding-left: 30px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* contenedor donde se establecen las habilidades blandas */
.oculto {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 20px #fff;
    width: 90%;
    align-items: center;
    position: relative;
    visibility: visible;
}

/* se muestra las Habilidades blandas en columna y 
ocultas inicialmente */
.oculto .habilidadesOcultas{
    padding-top: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 30px;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* estilo contenedor para las barras */
.barra {
    background: #959595;
    width: 400px;
    height: 8px;
    border-radius: 10px;
}
/* estilo contenedor de la barra a pintar */
.barra div {
    height: 8px;
    border-radius: 10px;
    width: 0%;
}

/* estilo del circulo guia del porcentaje */
.barra div span {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #5a5a5a;
    float: right;
    margin-top: -10px;
    padding: 9px 0 0px 3px;
    color: #fcf8f8;
}

/* se asigna color a la linea y animacion */
.html {
    background: #e91e63;
    animation: html 1s linear forwards;
}

.equipo {
    background: #e91e63;
    animation: trabajo 1s linear forwards;
}

.css {
    background: #cddc39;
    animation: css 1s linear forwards;
}

.responsabilidad {
    background: #cddc39;
    animation: responsabilidad 1s linear forwards;
}

.javascript {
    background: #00bcd4;
    animation: javascript 1s linear forwards;
}

.comunicacion {
    background: #00bcd4;
    animation: comunicacion 1s linear forwards;
}

.java {
    background: #ffeb3b;
    animation: java 1s linear forwards;
}

.persistencia {
    background: #ffeb3b;
    animation: persistencia 1s linear forwards;
}

.python {
    background: #9c27b0;
    animation: python 1s linear forwards;
}

.tiempo {
    background: #9c27b0;
    animation: tiempo 1s linear forwards;
}

.springboot {
    background: #ff3bc4;
    animation: springboot 1s linear forwards;
}

.detalle {
    background: #ff3bc4;
    animation: detalle 1s linear forwards;
}

.sql {
    background: #3fe61e;
    animation: sql 1s linear forwards;
}

.adaptabilidad {
    background: #3fe61e;
    animation: adaptabilidad 1s linear forwards;
}



/* se le asigna borde de color al circulo */
.html span,
.equipo span {
    border: 1px ridge #e91e63;
}

.css span,
.responsabilidad span {
    border: 1px ridge #cddc39;
}
.javascript span,
.comunicacion span {
    border: 1px ridge #00bcd4;
}
.java span,
.persistencia span {
    border: 1px ridge #ffeb3b;
}
.python span,
.tiempo span {
    border: 1px ridge #9c27b0;
}

.springboot span,
.detalle span {
    border: 1px ridge #ff3bc4;
}
.sql span,
.adaptabilidad span {
    border: 1px ridge #3fe61e;
}


/* animacion para cada barra determina hasta donde va */
@keyframes html {
    100%{
        width: 89%;
    }
}

@keyframes css {
    100%{
        width: 68%;
    }
}

@keyframes javascript {
    100%{
        width: 86%;
    }
}

@keyframes java {
    100%{
        width: 85%;
    }
}

@keyframes python {
    100%{
        width: 70%;
    }
}

@keyframes springboot {
    100%{
        width: 60%;
    }
}

@keyframes sql {
    100%{
        width: 70%;
    }
}

@keyframes trabajo {
    100%{
        width: 90%;
    }
}

@keyframes responsabilidad {
    100%{
        width: 95%;
    }
}

@keyframes comunicacion {
    100%{
        width: 89%;
    }
}

@keyframes persistencia {
    100%{
        width: 98%;
    }
}

@keyframes tiempo {
    100%{
        width: 80%;
    }
}

@keyframes detalle {
    100%{
        width: 80%;
    }
}

@keyframes adaptabilidad {
    100%{
        width: 80%;
    }
}


/* relaciono un tamaño al contenedor */
.btnLado {
    width: 50px;
    height: 50px;
    padding-left: 90px;
}
/* relaciona un tamaño a la imagen y posicion y color*/
.btnLado img {
    width: 50px;
    position: absolute;
    right: 20px;
    bottom: 2px;
    filter: invert();
    transition: 3s ease;
    cursor: pointer;
    z-index: 3;
}
/* rota en direccion de las manecillas del reloj */
.btnLado img:hover {
    transform: rotate(720deg);
}

/* relaciono un fondo al texto en degrade
y una animacion lineal un inicio y fin de animacion
asociada al view port */
.masSobreMi,
.sobreMi,
.ocultoD,
.ocultoI,
.ocultoD2,
.misH {
    display: inline;
    color: rgba(51, 50, 50, 0.2);
    background-image: linear-gradient(90deg, rgb(252, 250, 250), rgb(157, 157, 250));
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 0;
    animation: revelarText 2s linear forwards;
    animation-timeline: view();
    animation-range-start: cover 30vh;
    animation-range-end: cover 70vh;
}

/* animacion para el texto  */
@keyframes revelarText {
    to{
        background-size: 100% 100%;
    }
}

.contenedorFormulario {
    display: grid;
    grid-template-columns: 400px 300px;
    grid-template-rows: 10% 90%;
    width: 700px;
    /* height: 565px; */
    padding-top: 50px;
    margin: auto;
}

.con {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 32px;
    text-align: center;
}

.con span{
    color: rgb(121, 21, 21);
}

.formulario {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px 0 0 20px;
    border-top: 1px ridge rgba(255, 255, 255, 0.555);
    border-left: 1px ridge rgba(255, 255, 255, 0.555);
    border-bottom: 1px ridge rgba(255, 255, 255, 0.555);
}

.enlaces {
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color: rgb(19, 18, 18); */
    background-image: url("../img/sky-night-star-cosmos-atmosphere-darkness-785598-pxhere.com.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 20px 20px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    align-items: center;
    border-top: 1px ridge rgba(255, 255, 255, 0.555);
    border-right: 1px ridge rgba(255, 255, 255, 0.555);
    border-bottom: 1px ridge rgba(255, 255, 255, 0.555);  
}

.formulario form .verMas{
    margin-left: 100px;

}

.enlaces .verMas {
    width: 150px;
}

.enlaces #imgC{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
    width: 170px;
    filter: drop-shadow(5px 3px 5px rgb(121, 121, 182));
    justify-self: center;
}

.linksC {
    background-color: rgba(255, 255, 255, 0.123);
    margin-inline: 30px;
    border-radius: 10px;
    padding-block: 5px;
    justify-items: center;
}

.enlaces .linksC {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.enlaces .iconC{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 50px;
    border-radius: 20px;
    
    transition: scale 0.25s ease-in,
                opacity 0.25s ease-in,
                filter 0.25s ease-in;
    &:hover {
        scale: 1.2s;
    }
}

.enlaces:has(.iconC:hover) .iconC:not(:hover){
scale: 0.8;
opacity: 0.8;
filter: blur(4px);
}


.formulario input, 
.formulario textarea{
    background: none;
    border: 1px ridge black;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    font-size: 16px;
    width: 90%;
    margin: 15px;
    transition: border 500ms;
}

.formulario textarea{
    padding-top: 10px;
}

.formulario input{
    padding-block: 10px;
    margin-bottom: 20px;
}


.formulario input:hover, 
.formulario textarea:hover {
    border: 1px ridge rgb(161, 160, 160);
}

footer{
    margin-top: 60px;
    padding: 20px;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
}


footer .der .uno{
    width: 98%;
    height: 10px;
    background-color: #333;
    border-radius: 20px;
    margin-bottom: 8px;
    margin-inline: auto;
}

footer .der .dos{
    width: 80%;
    height: 10px;
    padding-inline: 2px;
    background-color: #333;
    border-radius: 20px;
    margin-bottom: 6px;
    margin-inline: auto;
}

footer .der .tres{
    width: 60%;
    height: 10px;
    padding-inline: 2px;
    background-color: #333;
    border-radius: 20px;
    margin-inline: auto;
}

footer .centro {
    background-color:#333;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    padding-block: 10px;
}

